/* 전체 컨테이너 설정 */
.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

/* 고정 마진 (왼쪽 44px) */
.margin-left {
  width: 44px;
  background-color: #ffffff;
}

/* 왼쪽 컨텐츠 (830px) */
.content-left {
  font-family: "Noto Serif KR", serif;
  width: 810px;
  padding: 0px;
  background-color: #ffffff;
  margin-bottom: 40px;
}
/* 중간 고정 마진 (75px) */
.margin-middle {
  width: 50px;
  background-color: #ffffff;
}

/* 오른쪽 컨텐츠 (910px) */
.content-right {
  font-family: "Noto Serif KR", serif;
  width: 910px;
  padding: 0px; /* 패딩을 20px로 설정 */
  box-sizing: border-box; /* 패딩을 너비에 포함시키기 위해 추가 */
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden; /* 가로 스크롤을 숨겨서 오른쪽에 딱 붙게 */
}
/* 오른쪽 콘텐츠 영역의 스크롤 숨기기 */
.content-right {
  overflow-y: scroll; /* 세로 스크롤 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.content-right::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge에서 스크롤바 숨기기 */
}


/* 고정 마진 (오른쪽 42px) */
.margin-right {
  width: 2.4rem;
  background-color: #ffffff;
}


/* 공지 항목 스타일 */
.notice-item {
  position: relative; /* 상대적 위치 지정 */
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  outline: none; /* focus outline 제거 */
}

.notice-item:focus {
  outline: none; /* 포커스 상태에서도 outline 제거 */
}

/* 제목 스타일 */
.notice-title {
  font-size: 14pt; /* 제목 폰트 크기 */
  margin-left: 0px; /* 제목을 왼쪽에서 20px 띄움 */
  display: inline-block; /* 날짜와 같은 줄에 배치 */
}

/* 게시일 스타일 */
.date-label {
  position: absolute;
  left: 665px; /* 화면 왼쪽에서 300px 떨어지게 설정 */
  top: 200px;
  font-size: 20px; /* 게시일 폰트 크기 */
  font-weight: 200;
  color: #777;
}

/* 날짜 스타일 */
.notice-date {
  font-size: 14pt; /* 날짜 폰트 크기 */
  font-weight: 200;
  color: #777;
  position: absolute; /* 날짜를 고정된 위치로 설정 */
  left: 630px; /* 날짜를 제목보다 더 왼쪽에서 띄움 */
  top: 10; /* 세로로 중앙에 맞추기 위해 필요하면 조정 */
}

.notice-item.active {
  background-color: #333;
  color: #fff;
}

.notice-item:hover {
  background-color: #000000;
}

/* 호버 상태에서 배경과 글씨 색을 하얀색으로 변경 */
.notice-item:hover {
    background-color: #000000; /* 배경색 하얀색 */
    color: #ffffff; /* 텍스트 색상을 검정으로 유지하려면 이렇게 설정 */
  }
  
  .notice-item.active {
    background-color: #000;
    color: #fff;
  }

/* 공지사항 본문 제목 스타일 */
.content-right h2 {
  font-size: 34px;  /* 본문 제목 폰트 크기 */
  font-weight: 600;
  margin-top: 180px;
  padding: 0px
    
}

/* 공지사항 본문 내용 스타일 */
.content-right p {
  font-size: 16px;  /* 본문 내용 폰트 크기 */
  font-weight: 200;
  padding: 0px;
  line-height: 190%;
}
h2  {
    margin-top: 200px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 220;
    margin-bottom: 15px;
}

hr {
  width: 100%;
  margin: 0; /* 상하 여백을 모두 0으로 설정 */
  color: #000;
  height: 1px; /* 0px 대신 1px로 높이를 명시하여 선이 잘 보이게 */
  border: none; /* 브라우저 기본 border 제거 */
  background-color: #000; /* 선을 검은색으로 설정 */
}

