@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
/* 폰트 설정 (구글폰트, 본명조) */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Ornaments:wght@400&display=swap');

body { 
    font-family: 'Noto Serif KR', serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.0rem;
}

h1, h2 {
    font-size: 4.8rem;
    font-weight: 700; 
}

html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    top: 0px;
    z-index: 100;  /* 헤더가 다른 내용 위에 오도록 z-index를 설정 */
    background-color: #ffffff;
}

main {
    margin: 16rem 2.4rem;
    gap: 16rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

section {
    gap: 16rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.logo {
    margin-left: 2.4rem;
    background-color: #ffffff;
}

.logoImg {
    width: 111px;
}

.menu {
    margin-top: 1.8rem;
    margin-right: 2.4rem;
    width: calc(50vw - 2.4rem);
}

.pageMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.8rem;
}

.selectedPage {
    font-weight: 700;
}

.unselectedPage {
    display: inline-flex;
    gap: 2.6rem;
    font-weight: 400;
}

.line {
    position: fixed;
    top: 0;
    height: 8.3rem;
    width: calc(50vw - 2.4rem);
    background-color: #ffffff;
    border-bottom: #000000 solid 1px;
    z-index: -1;
}

.listMenu {
    display: inline-flex;
    align-items: center;
    gap: 24px;
}

.selectedList {
    display: flex;
    height: 4.2rem;
    padding: 0rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 2.1rem;
    border-width: 1px;
    background: #000000;
    font-weight: 700;
    color: #ffffff;
}

.unselectedList {
    display: flex;
    height: 42px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 21px;
    border-width: 1px;
    background: #ffffff;
    font-weight: 400;
}

:root {
  --color-fg: #000000;
  --color-bg: #000000;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.title {
  text-align: left; 
  font-size: 48px;
  margin-top: 15rem; 
  margin-right: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.explanation {
  text-align: left; 
  font-size: 20px;
  margin-top: 6rem;
  margin-left: 40rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.scroll-x {
  max-width: 100%;
  overflow-x: auto;
  overscroll-behavior-x: contain;
}

.wrapper {
  --size: clamp(12rem, 1rem + 50vw, 20rem);
  --gutter: 3rem;
  --gap: 2rem;
  scroll-snap-type: x mandatory;
  display: grid;
  padding-block: var(--gutter);
}

.items {
  grid-area: content;
  display: flex;
  gap: var(--gap);
}

.items > * {
  display: grid;
  place-content: center;
  flex-shrink: 0;
  inline-size: var(--size);
  aspect-ratio: 4 / 5;
  scroll-snap-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: var(--color-fg);
  border-radius: 0.5rem;
}

.items a {
  text-decoration: none;
  outline: none;
}

.items img {
  width: 36.25rem;
  display: block;
}

@supports (animation-timeline: view()) {
  .items > * {
    --scale: 0.9;
    --offset: var(--gap);
    animation: scale linear both, fade linear both;
    animation-timeline: view(inline);
    animation-range: cover 30% cover 70%, cover 5% cover 95%;
  }

  @keyframes scale {
    from,
    to {
      scale: var(--scale);
    }
    50% {
      scale: 1;
    }
    from {
      translate: var(--offset) 0;
    }

    to {
      translate: calc(var(--offset) * -1) 0;
    }
  }

  @keyframes fade {
    from,
    to {
      opacity: 0;
    }
    10%,
    90% {
      opacity: 1;
    }
  }
}


/* main-container 스타일 */
.main-container {
  position: relative;
  padding-top: 8rem; /* header 하단에 위치하도록 여백을 추가 */
  font-size: 1.6rem;
  background-color: #ffffff;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}


.text {
display: flex;
align-items: flex-start;
justify-content: flex-start;
position: absolute;
height: 40px;
top: 396px;
left: calc(50% - 28px);
color: #000000;
font-family: "Bodoni Ornaments";
font-size: 40px;
font-weight: 400;
line-height: 40px;
text-align: left;
white-space: nowrap;
z-index: 4;
}

.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center; /* 수평 중앙 정렬 */
  position: relative; /* relative로 변경하여 부모 요소에 맞춰 배치 */
  height: 40px;
  top: 714px;
  left: 50%; /* 부모 요소의 50% 위치로 수평 중앙 배치 */
  transform: translateX(-50%) rotate(-180deg); /* translateX와 rotate를 하나의 transform 속성에서 처리 */
  color: #000000;
  font-family: "Bodoni Ornaments";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}


.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 116px;
  height: 57px;
  top: 506px;
  left: calc(50% - 310px);
  color: #000000;
  font-family: Source Han Serif K, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 916px;
  height: 32px;
  top: 520px;
  left: calc(50% - 376px);
  color: #000000;
  font-family: Source Han Serif K, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
}

.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 194px;
  height: 57px;
  top: 622px;
  left: calc(50% - 314px);
  color: #000000;
  font-family: Source Han Serif K, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}

.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 944px;
  height: 33px;
  top: 636px;
  left: calc(50% - 417px);
  color: #000000;
  font-family: Source Han Serif K, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

/* 이미지 스타일 */
.img2 {
  position: absolute;
  top: calc(506px - 100px);  /* 텍스트 위에 위치 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.img3 {
  position: absolute;
  top: calc(636px + 100px);  /* 텍스트 하단에 위치 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
