/* 반응형 스타일 */
@media screen and (max-width: 1200px) {
    body {
        font-size: 1.6rem;
    }
    
    h1, h2 {
        font-size: 1.8rem;
        font-weight: 700;
        width: calc(100vw - 3.6rem);
    }
    
    h3 {
        font-size: 1.6rem;
        width: 20vw;
        min-width: 5rem;
    }
    
    p {
        width: calc(100vw - 3.6rem);
    }
    
    header {
        justify-content: center;
        border-bottom: 1px solid black;
    } 

    main    {
        margin: 16rem 1.8rem 0rem;
    }
    
    section {
        gap: 1.8rem;
    }
    
    article {
        padding-bottom: 1.8rem;
    }
    
    .logo {
        display: none;
    }
    
    .menu {
        width: 100vw;
        margin: 0;
        background-color: white;
    }
    
    .pageMenu {
        margin: 0;
        padding: 1.2rem 1.8rem;
        align-items: center;
        border-bottom: 1px solid black;
    }
    
    .back {
        display: block;
        width: 4rem;
        height: 4rem;
    }
    
    .back button {
        width: 4rem;
        height: 4rem;
        padding: 0;
    }
    
    .unselectedPage {
        display: none;
    }
    
    .hambugerMenu {
        display: block;
    }
    
    .line {
        display: none;
    }
    
    .listMenu {
        padding: 1.2rem 1.8rem;
        gap: 0.8rem;
    }
    
    .articleText {
        flex-direction: column;
        gap: 1.8rem;
    }
    
    .articleTextInner {
        gap: 1.2rem;
    }
    
    .innerText {
        padding-bottom: 1.8rem;
        border-bottom: 1px solid black;
    }
    
    .innerText p {
        width: calc(80vw - 3.6rem);
    }
    
    .articleImg {
        margin-top: 1.8rem;
        width: calc(100vw - 3.6rem);
        height: calc(100vh - 36rem);
    }

    .flowerNightExplanation {
        gap: 1.8rem;
    }

    .scroll-x   {
        margin-top: 1.8rem;
    }

    .slider-container   {
        width: 100vw;
        left: -18px;
        margin: 1.8rem 0 0;
    }
}
